<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trouble.shareresources.mapper.PropertyProtectionMapper">
    <resultMap id="BaseResultMap" type="com.trouble.shareresources.pojo.PropertyProtection">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="publisher" property="publisher" jdbcType="VARCHAR"/>
        <result column="publish_date" property="publishDate" jdbcType="DATE"/>
        <result column="certificate" property="certificate" jdbcType="VARCHAR"/>
        <result column="expertise_areas" property="expertiseAreas" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="file_path" property="filePath" jdbcType="VARCHAR"/>
        <result column="readtimes" property="readtimes" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="SummaryResultMap" type="com.trouble.shareresources.pojo.PropertyProtection">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="publisher" property="publisher" jdbcType="VARCHAR"/>
        <result column="publish_date" property="publishDate" jdbcType="DATE"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, title, publisher, publish_date, certificate, expertise_areas, telephone, email, 
    introduction, file_path, readtimes
	</sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.trouble.shareresources.pojo.PropertyProtectionExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from property_protection
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="getSummaryInfo" resultMap="SummaryResultMap">
        select
        id,title,publisher,publish_date
        from property_protection
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from property_protection
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from property_protection
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.trouble.shareresources.pojo.PropertyProtectionExample">
        delete from property_protection
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.trouble.shareresources.pojo.PropertyProtection">
        insert into property_protection (id, title, publisher,
        publish_date, certificate, expertise_areas,
        telephone, email, introduction,
        file_path, readtimes)
        values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{publisher,jdbcType=VARCHAR},
        #{publishDate,jdbcType=DATE}, #{certificate,jdbcType=VARCHAR}, #{expertiseAreas,jdbcType=VARCHAR},
        #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR},
        #{filePath,jdbcType=VARCHAR}, #{readtimes,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.trouble.shareresources.pojo.PropertyProtection">
        insert into property_protection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="publisher != null">
                publisher,
            </if>
            <if test="publishDate != null">
                publish_date,
            </if>
            <if test="certificate != null">
                certificate,
            </if>
            <if test="expertiseAreas != null">
                expertise_areas,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="filePath != null">
                file_path,
            </if>
            <if test="readtimes != null">
                readtimes,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="publisher != null">
                #{publisher,jdbcType=VARCHAR},
            </if>
            <if test="publishDate != null">
                #{publishDate,jdbcType=DATE},
            </if>
            <if test="certificate != null">
                #{certificate,jdbcType=VARCHAR},
            </if>
            <if test="expertiseAreas != null">
                #{expertiseAreas,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="readtimes != null">
                #{readtimes,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="selectPropertyProtectionWhenSelectByCondition" resultMap="SummaryResultMap"
            parameterType="com.trouble.shareresources.entity.PropertyProtectionEntity">
        SELECT
          id,title,publisher,publish_date
        from property_protection
        <where>
            <if test="title != null and title != ''">
                and title LIKE '%${title}%'
            </if>
            <if test="fromDate != null and fromDate != ''">
                AND DATE_FORMAT(publish_date,'%Y%m%d') &gt;= '${fromDate}'
            </if>
            <if test="toDate != null and toDate != ''">
                AND DATE_FORMAT(publish_date,'%Y%m%d') &lt;= '${toDate}'
            </if>
        </where>
    </select>
    <select id="selectCountWhenSelection" resultType="java.lang.Integer"
            parameterType="com.trouble.shareresources.entity.PropertyProtectionEntity">
        SELECT
        count(*)
        from property_protection
        <where>
            <if test="title != null and title != ''">
                and title LIKE '%${title}%'
            </if>
            <if test="fromDate != null and fromDate != ''">
                AND DATE_FORMAT(publish_date,'%Y%m%d') &gt;= '${fromDate}'
            </if>
            <if test="toDate != null and toDate != ''">
                AND DATE_FORMAT(publish_date,'%Y%m%d') &lt;= '${toDate}'
            </if>
        </where>
    </select>
    <select id="countByExample" parameterType="com.trouble.shareresources.pojo.PropertyProtectionExample"
            resultType="java.lang.Integer">
        select count(*) from property_protection
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update property_protection
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.title != null">
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.publisher != null">
                publisher = #{record.publisher,jdbcType=VARCHAR},
            </if>
            <if test="record.publishDate != null">
                publish_date = #{record.publishDate,jdbcType=DATE},
            </if>
            <if test="record.certificate != null">
                certificate = #{record.certificate,jdbcType=VARCHAR},
            </if>
            <if test="record.expertiseAreas != null">
                expertise_areas = #{record.expertiseAreas,jdbcType=VARCHAR},
            </if>
            <if test="record.telephone != null">
                telephone = #{record.telephone,jdbcType=VARCHAR},
            </if>
            <if test="record.email != null">
                email = #{record.email,jdbcType=VARCHAR},
            </if>
            <if test="record.introduction != null">
                introduction = #{record.introduction,jdbcType=VARCHAR},
            </if>
            <if test="record.filePath != null">
                file_path = #{record.filePath,jdbcType=VARCHAR},
            </if>
            <if test="record.readtimes != null">
                readtimes = #{record.readtimes,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update property_protection
        set id = #{record.id,jdbcType=INTEGER},
        title = #{record.title,jdbcType=VARCHAR},
        publisher = #{record.publisher,jdbcType=VARCHAR},
        publish_date = #{record.publishDate,jdbcType=DATE},
        certificate = #{record.certificate,jdbcType=VARCHAR},
        expertise_areas = #{record.expertiseAreas,jdbcType=VARCHAR},
        telephone = #{record.telephone,jdbcType=VARCHAR},
        email = #{record.email,jdbcType=VARCHAR},
        introduction = #{record.introduction,jdbcType=VARCHAR},
        file_path = #{record.filePath,jdbcType=VARCHAR},
        readtimes = #{record.readtimes,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.trouble.shareresources.pojo.PropertyProtection">
        update property_protection
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="publisher != null">
                publisher = #{publisher,jdbcType=VARCHAR},
            </if>
            <if test="publishDate != null">
                publish_date = #{publishDate,jdbcType=DATE},
            </if>
            <if test="certificate != null">
                certificate = #{certificate,jdbcType=VARCHAR},
            </if>
            <if test="expertiseAreas != null">
                expertise_areas = #{expertiseAreas,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                file_path = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="readtimes != null">
                readtimes = #{readtimes,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.trouble.shareresources.pojo.PropertyProtection">
    update property_protection
    set title = #{title,jdbcType=VARCHAR},
      publisher = #{publisher,jdbcType=VARCHAR},
      publish_date = #{publishDate,jdbcType=DATE},
      certificate = #{certificate,jdbcType=VARCHAR},
      expertise_areas = #{expertiseAreas,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      readtimes = #{readtimes,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>